@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor1: #220143;
    --cor2: #2e0153;
    --cor3: #661b90;
    --cor4: #ffffff;
    --cor5: #fcd74e;
    --font: "Albert Sans", sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    color: var(--cor2);
}

body{
    width: 100vw;

}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor1);
    width: 100vw;
    height: 150px;
}

nav{
    align-self: center;
}

header > .logo{
    width: 200px;
    height: 150px;
    background-image: url("../../imagens/logo-empresa.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    list-style: none;
}

li{
    display: inline;
    margin-right: 10px;
    padding: 10px;
    background-color:var(--cor2);
}

li:hover{
    background-color: var(--cor3);
}

li > a{
    display: inline;
    text-decoration: none;
    color: var(--cor5);
}


.modal{
    width: 50%;
    overflow-y: auto;
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
    display: none;
}


.modal > p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
}


.topo{
    background-color: #220143;
    border-radius: 5px 5px 0px 0px;
}

.container-inputs{
    width: 75%;
    margin: auto;

}

.container-inputs > input , select{
    height: 30px;
    margin-right: 10px;
    border: none;
    border-bottom: 2px solid #661b90;
    outline: 0;
}

.container-inputs > input:focus , select:focus{
    border-color: #fcd74e;
}


.container-inputs > button{
    font-size: 15px;
    width: 55px;
    height: 30px;
    background-color: green;
    color: white;
    cursor: pointer;
}

.container-horarios{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.icone, .data, .horario, .procedimento{
    border:1px solid black;
    display: inline-block;
    padding: 10px;
}

.container-horarios > button{
    background-color: red;
    padding: 0px 10px;
    color: white;
    cursor: pointer;
}

.rodape{
    width: 100%;
    display: flex;
    justify-content: center;
}

.rodape > button{
    height: 30px;
    margin: 10px 0px;
    padding: 0px 10px;
    background-color: green;
    color: white;
    cursor: pointer;

}


























.container{
    width: 80%;
    margin: auto;
    padding: 20px;
}

h2{
    margin-bottom: 10px;
}

.abrir-agenda{
    margin-left: 30px;
}

.container-tabela{
    overflow-x: scroll;
}

table{
    width: 100%;
    margin: auto;
    margin-top: 40px;
    border-collapse: collapse;
}

table,th, td{
    border: 1px solid black;
}

th,td{
    padding: 15px;
}

tbody>tr:hover{
    background-color: #220143;
}

tbody>tr:hover td{
    color: #fcd74e;
}

