@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor1: #220143;
    --cor2: #2e0153;
    --cor3: #661b90;
    --cor4: #ffffff;
    --cor5: #fcd74e;
    --font: "Albert Sans", sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    color: var(--cor2);
}

body{
    width: 100vw;

}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor1);
    width: 100vw;
    height: 150px;
}

nav{
    align-self: center;
}

header > .logo{
    width: 200px;
    height: 150px;
    background-image: url("../../imagens/logo-empresa.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    list-style: none;
}

li{
    display: inline;
    margin-right: 10px;
    padding: 10px;
    background-color:var(--cor2);
}

li:hover{
    background-color: var(--cor3);
}

li > a{
    display: inline;
    text-decoration: none;
    color: var(--cor5);
}


.modal{
    width: 60%;
    overflow-y: auto;
    margin: auto;
    margin-top: 50px;
    border: 2px solid var(--cor3);
    border-radius: 5px;
    display: block;
}

.topo{
    height: 30px;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px 5px 0px 0px;
    background-color: #220143;
}

.mdi-close-circle-outline{
    margin-right: 10px;
    text-align: right;
    font-size: 1.5em;
    color: white;
}


.mdi-close-circle-outline:hover{
    color: red;
}


.modal > p{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1em;
}



.container-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 75%;
    margin: auto;

}

.container-inputs > input , select{
    flex-shrink: 1;
    height: 30px;
    margin-right: 10px;
    border: none;
    border-bottom: 2px solid var(--cor1);
    outline: 0;
}

.container-inputs > input:focus , select:focus{
    border-color: var(--cor3);
}


.container-inputs > button{
    width: 30%;
    height: 30px;
    align-self: center;
    font-size: 1rem;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
}


.container-inputs > button:active{
    border: 1px solid white;
    background-color: darkgreen;
}


.container-horarios{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    overflow-x: auto;
}


.container-horarios::-webkit-scrollbar{
    margin-top: 5px;
    width: 30px;
    height: 10px;
}

.container-horarios::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 5px;
}

.container-horarios::-webkit-scrollbar-thumb{
    background-color: #c9c2c2;
    border-radius: 10px;
    border: 2px solid transparent; /* espaço interno */
}

.icone, .data, .horario, .procedimento{
    flex-shrink: 1;
    display: inline-block;
    padding: 10px;
    font-size: 0.8em;
    background-color: rgba(211, 206, 206, 0.993);
}

.container-horarios > button{
    padding: 0px 10px;
    border:none;
    background-color: red;
    cursor: pointer;
}

.container-horarios > button:active{
    border: 1px solid white;
    background-color: darkred;
}

.mdi-trash-can-outline{
    font-size: 0.8em;
    color: white;
}

.rodape{
    width: 100%;
    display: flex;
    justify-content: center;
}

.rodape > button{
    height: 30px;
    margin: 10px 0px;
    padding: 0px 10px;
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;

}

.rodape > button:active{
    border: 1px solid white;
    background-color: darkgreen;
}



.container-inputs-editar{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    background-color: #fcd74e;
}

.div-organizadora{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 50%;
}

.div-organizadora > select{
    width:auto;
    border: 1px solid rgb(211, 211, 211);
    outline: 0;
}

.div-organizadora > input{
    width: 30%;
    text-align: right;
    margin-right: 10px;
    outline: 0;
}

.div-organizadora label{
    align-self: center;
    margin-right: 10px;
}


.container{
    width: 80%;
    margin: auto;
    padding: 20px;
}

h2{
    margin-bottom: 10px;
}

.abrir-agenda{
    margin-left: 30px;
}

.container-tabela{
    overflow-x: scroll;
}

table{
    width: 100%;
    margin: auto;
    margin-top: 40px;
    border-collapse: collapse;
}

table,th, td{
    border: 1px solid black;
}

th,td{
    padding: 15px;
}

tbody>tr:hover{
    background-color: #220143;
}

tbody>tr:hover td{
    color: #fcd74e;
}

