/* versao de celular */
@media screen and (max-width: 768px) {

    header{
        flex-direction: column;
    }
    
    .logo{
        margin: auto;
    }    
    .container{
        flex-direction: column-reverse;
        justify-content: center;
        margin: auto;
        gap: 30px;
    }

    .container > div{
        width: 80%;
        margin: auto;
        padding: 10px;
    }

    .container > div > h1{
        text-align: center;
    }

    .itens{
        margin: auto;
    }

    footer > div{
        width: 300px;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    footer > div > a{
        color: white;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    body{
        overflow-x: hidden;
    }

    .container-cards{
        justify-content: center;
    }

}